/*
    Fonts
*/
@font-face {
    font-family: 'Eddilu';
    src: url('../font/Eddilu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*
    Global Style
*/
body {
    background-color: #ffc6c6;
    font-family: 'Eddilu';
}

/* 
    NavBar Layout
*/
.navbar {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    padding: 0.25rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.logo-socials {
    display: flex;
    align-items: flex-end;
    gap: .25rem;
    flex-wrap: nowrap;
    flex: 1 1 auto;
    max-width: 100%;
    min-width: 0;
}

.socials-vertical {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    flex-shrink: 1;
    max-height: 100%;
}

/*
    Logos and Socials
*/
.logo {
    display: flex;
    min-width: 0;
}

.logo img {
    height: auto;
    width: clamp(200px, 60vw, 1000px);
    max-width: 100%;
}

.sidelink img {
    height: auto;
    width: clamp(25px, 4vw, 60px);
    display: block;
}

/*
    Navigation Links 
*/
.nav-links {
    display: flex;
    white-space: nowrap;
    gap: 1rem;
    padding-right: 2rem;
}

.nav-link {
    font-size: clamp(15px, 3vw, 50px);
    color: #fff;
    text-decoration: none;
    position: relative;
}

.nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.05em;
    width: 100%;
    height: 0.08em;
    background-color: currentColor;
}

/* 
    Gallery 
*/
.gallery {
    column-width: clamp(160px, 22vw, 320px);
    column-gap: 0.5rem;
    padding: 0.5rem;
}

.art-piece {
    break-inside: avoid;
    margin-bottom: 0.5rem;
    position: relative;
    width: 100%;
}

.art-inner {
    position: absolute;
    inset: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.art-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.art-border {
    position: relative;
    inset: 0;
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    z-index: 1;
}

/* 
    Media Queries
*/
@media (max-width: 768px) {
    .nav-links a {
        font-size: 23px;
    }
}