/* * {border: 1px solid red;}*/
@font-face {
    font-family: 'Eddilu';
    src: url('/assets/font/Eddilu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #ffc6c6;
    font-family: 'Eddilu';
}

.navbar {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    padding: 0.25rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.logo-socials {
    display: flex;
    align-items: flex-end;
    gap: .25rem;
    flex-wrap: nowrap;
    flex: 1 1 auto;
    max-width: 100%;
    min-width: 0;
}

.socials-vertical {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    flex-shrink: 1;
    max-height: 100%;
}

.logo {
    display: flex;
    min-width: 0;
}

.logo img {
    height: auto;
    width: clamp(200px, 60vw, 1000px);
    max-width: 100%;
}

.sidelink img {
    height: auto;
    width: clamp(25px, 4vw, 60px);
    display: block;
}

.nav-links {
    display: flex;
    white-space: nowrap;
    gap: 1rem;
    padding-right: 2rem;
}

.nav-link {
    font-size: clamp(15px, 3vw, 40px);
    color: #fff;
    text-decoration: none;
    position: relative;
}

.nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.15em;
    width: 100%;
    height: 0.08em;
    background-color: currentColor;
}

@media (max-width: 768px) {
    .nav-links a {
        font-size: 23px;
    }
}

